header{
    background-color: #130f40;
    padding: 5px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.desktopNav a{
    display: inline-block;
    width: 100px;
}
header a button{
    background-color: coral;
    padding: 7px 20px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    header{
        justify-content: space-between;
    }
    header h1{
        font-size: 1em;
    }
    .desktopNav{
        display: none;
    }
}

main{
    min-height: 95vh;
}

footer{
    background: black;
}
footer h3{
    text-align: center;
}